
<h3>ngFor</h3>

<ul>
  <li *ngFor="let persona of personas; let i = index">
    {{i}} {{persona.nombre}} {{persona.edad}}
  </li>
</ul>

<H3>ngSwitch</H3>

<div [ngSwitch]="dia">
  <span *ngSwitchCase="1">Lunes</span>
  <span *ngSwitchCase="2">Martes</span>
  <span *ngSwitchCase="3">miercoles</span>
  <span *ngSwitchCase="4">jueves</span>
  <span *ngSwitchCase="5">viernes</span>
  <span *ngSwitchCase="6">sabado</span>
  <span *ngSwitchCase="7">domingo</span>
  <span *ngSwitchDefault> valor no valido</span>
</div>

