
<div class="container">
  <ul>
    <li>
      <a routerLink="botones" routerLinkActive="active">Botones</a>
    </li>
    <li>
      <a routerLink="Bucles" routerLinkActive="active">Bucles</a>
    </li>
    <li>
      <a routerLink="AddMsj" routerLinkActive="active">Agregar Mensaje</a>
    </li>
  </ul>

  <!-- Comunicacion entre componente padre he hijo -->
  <!-- <input type="text" class="form-control" [(ngModel)]="title"> -->
  <!-- <app-childern title2="texto de prueba comunicacion entre componentes" [title]="title" (titleChange)="title=$event "></app-childern>  -->
  <!-- <app-childern [(title)]="title"></app-childern> -->

  <!-- Comunicacion de componentes por medio de un service -->
  <!-- <app-add-msj></app-add-msj>
  <app-list-msj></app-list-msj> -->


<router-outlet></router-outlet>



</div>

