
<h1>Formulario reactivo</h1>

<div class="card">
  <div class="card-body">
    <form action="" [formGroup]="formUser" (ngSubmit)="procesar()">
      <div  class="mb-2">
        <label for="form-label">Nombre</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Favor ingresar nombre">
        <div class="alert alert-danger mt-2" *ngIf="(!name.valid && !formUser.get('name')?.pristine) || (!name.valid && name.touched) ">Favor ingrese valor requerido</div>
      </div>
      <div  class="mb-2">
        <label for="form-label">Email</label>
        <input type="text" formControlName="email" class="form-control" placeholder="Favor ingresar Email">
        <div class="alert alert-danger mt-2" *ngIf="(email?.errors?.['required'] && !email?.pristine) || (email?.errors?.['required'] && email?.touched) ">Email es requerido</div>
        <div class="alert alert-danger mt-2" *ngIf="email?.errors?.['email']">Ingrese un formato valido de Email</div>
      </div>
      <div>
        <button class="btn btn-success" [disabled]="!formUser.valid">Enviar</button>
      </div>
    </form>
  </div>
</div>

{{formUser.errors | json}}
<br>
{{formUser.get('name')?.value}}
<br>
{{formUser.value | json}}
<br>
{{formUser.valid}}

